h1 {
	margin:10px 30px;
	padding:20px;
	background-color:#eee;
	border-bottom: 1px solid #999;
	box-shadow:2px 2px 5px #888888;
}

fieldset {
	padding:30px;
	border:0px;
	background-color:#eee;
	margin:30px 30px 50px 30px;
	border-bottom: 1px solid #999;
}
legend{
	background-color:white;
	padding:10px 40px;
	font-weight:bold;
	box-shadow:2px 2px 5px #888888;
}

input {
	padding:10px;
}
button {
	border:0px;
	padding:12px;
	cursor:pointer;
	background-color: #008afe;
	color:white;
	border-radius:10px;
	box-shadow:2px 2px 5px #888888;
	margin:5px;
}
span {
	margin-left:10px;
}

span.resultado{
	padding:15px;
	margin-left:10px;
	border:1px solid #888888;
}
div.resultado{
	margin:20px;
	padding:25px;
	border:1px solid #888888;
}
.cuadrado{
	border:1px solid #999;
	width:100px;
	height:100px;
	background-color:#ffe9a5;
	margin:15px 0px;
	
}
.rectangulo{
	border:1px solid #999;
	width:400px;
	height:100px;
	background-color:#ffe9a5;
	margin:15px 0px;
	
}
input[type=radio]{
	margin-left:50px;
}
input[type=number]{
	width:50px;
}

#cuadricula {
	width:160px;
}
.paleta {
display:block;
overflow:hidden;
}

#cuadricula .cuadrado {
	border:1px solid #999;
	width:50px;
	height:50px;
	background-color:#ffe9a5;
	margin:0px 0px;
	float:left;
}

#eje03 i{
	font-size: 2em;	
}
#factura {
    border-collapse: collapse;
    width: 100%;
}

#factura td, #factura th {
    border: 1px solid #ddd;
    padding: 8px;
}

#factura tr:nth-child(even){background-color: #f2f2f2;}
#factura tr:nth-child(odd){background-color: #fff;}

#factura tr:hover {background-color: #ddd;}

#factura th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
#factura input[type="text"]{
	width: 100px;
	text-align:right;
}
#factura .total {
	border-top: 2px solid #4CAF50;
}
.paleta .cuadrado {
	border:1px solid #fff;
	width:50px;
	height:50px;
	margin:0px 0px;
	float:left;
	cursor:pointer;
}

.rojo{
	background-color:#ffbfc5;
}
.verde{
	background-color:#e2ffde;
}
.azul{
	background-color:#d6fbff;
}
.amarillo{
	background-color:#f5ff91;
}
.naranja{
	background-color:#ff7200;
}
.marron{
	background-color:#995900;
}
.lila{
	background-color:#650099;
}
.gris{
	background-color:#717171;
}
select{
	padding:10px;
    font-size: 1.1em;
}
